NODE_ENV=development
PORT=4545
MONGODB_CONNECTION_STRING=xxxxxxxxx

JWT_SIGN_SECRET=xxxxxxxxx
JWT_DURATION=15m

SESSION_SECRET=xxxxxxxxx
SESSION_TIMEOUT_MINUTES=20

FRONTEND_ORIGIN=http://localhost:5173