NODE_ENV=development
PORT=4545
MONGODB_CONNECTION_STRING=xxxxxxxxx

API_RATE_LIMIT_WINDOW_MINUTES=15
API_RATE_LIMIT_MAX_REQUESTS=500

AUTH_RATE_LIMIT_WINDOW_MINUTES=15
AUTH_RATE_LIMIT_MAX_REQUESTS=5

JWT_SIGN_SECRET=xxxxxxxxx
JWT_DURATION=15m

SESSION_SECRET=xxxxxxxxx
SESSION_TIMEOUT_MINUTES=20

FRONTEND_ORIGIN=http://localhost:5173
FRONTEND_LOGIN_PATH=/auth/login
FRONTEND_OAUTH_CALLBACK_PATH=/auth/callback

GOOGLE_CLIENT_ID=xxxxxxxxx
GOOGLE_CLIENT_SECRET=xxxxxxxxx
GOOGLE_CALLBACK_URL=http://localhost:4545/api/auth/google/callback